:host.goals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.goals {
  &__habit {
    width: 95vw;
    margin-top: 20px;
  }

  &__goal {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__chart {
    max-width: 10vw;
    max-height: 10vw;
  }
}

.spacer {
  height: 7rem;
}
