:host.benefit-card {

}

.benefit-card{
  &__content {}
  &__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
  }
  &__right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 3;
  }
  &__img{

  }
  &__price{
    height: 20%;
  }
  &__title{
    height: 30%
  }
  &__description{
    height: 20%;
  }
  &__expiration{
    height: 50%;
  }
}
