:host.top-data {
  position: absolute;
  top: 0;
  right: 0;
}

.top-data {
  &__item {
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--amber);
  }
}
