:host.top-data {
  display: flex;
  flex-direction: row;
  position: relative;
}

.top-data {
  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-color2);
    border: 1px solid var(--primary-color);
  }

  &__spark {
    font-size: 15px;
    position: absolute;

    &:nth-child(1) {
      margin-right: 15px;
      margin-bottom: 15px;
    }

    &:nth-child(2) {
      margin-left: 45px;
    }

    &:nth-child(3) {
      margin-left: 10px;
      margin-top: 40px;
    }
  }
}
