:host.top-data {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid lightgray;
  height: 3.5rem;
  padding: 0.3rem;
}

.top-data {
  &__username {
    position: relative;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
  }
  &__sparkle{
    border: 1px solid dimgray;
    border-radius: 20px;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translate(-40%);
  }
}
