:host.upload-explore {
  height: auto;
}

.upload-explore {
  &__card-grid {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color1) transparent;
    scrollbar-arrow-color: transparent;
    overflow-x: auto;
    display: grid;
    grid-auto-flow: column;
    position: relative;
    left: 0;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  &__card {
    min-width: 22.5vw;
    min-height: 37.5vw;
  }

  &__img {
    height: 100%;
    object-fit: cover;
    border-radius: var(--mat-card-outlined-container-shape, var(--mat-sys-corner-medium));
  }
}
